:root {
    --gradient: linear-gradient(to right top, #ffd700, #0057b7);
    --counters-board-height: 6rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.invisible {
    display: none !important;
}
