.menu {
    background-image: var(--gradient);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.menu-bar {
    display: flex;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

button {
  cursor: pointer;
  border: 0;
  background-image: var(--gradient);
  padding: 0.75rem 4rem;
  border-radius: 5rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  transition: 0.3s;
}

button:hover {
    transform: scale3D(1.1, 1.1, 1.1);
}
